.logo{
    width: 268px;
    height: 33px;
    padding: 10;

}
header{
    display: flex;

}
a{
    text-decoration: none;
    color: black;
}
.navigation{
    display: : flex;
    position: fixed;
    padding-bottom: 0;
    background-color: whitesmoke;
    box-shadow: white;
    width: 100%;
    justify-content: space-around;
    text-align: center;

}
.list-tow li{
    display: none;
}
.list-tow ul:hover{
    display: block;
}
.list ul{
    list-style: none;
    float: left;
    width: 120px;

}
.list ul{
    margin: 0;
    padding: 0;

}
.list :hover{
    display: block;
}
ul a:hover{
    display: block;
}
.body-logo{
    display: block;
    margin: 0 auto;
}
.first-section{
    margin: 70px;
}
.first-section h1{
    text-align:  center;
    font-family: Arial,sans-serif;
    font-weight:  300;
    font-size:  2.125rem;
    margin:  1em;
    color: #00b39b;

}
.paragraph1 p{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-evenly;
    text-align:  left;
    margin-left:  8%;
    
    
    
    
    
    
    
}
.paragraph{
    box-sizing: inherit;
    display: flex;
    margin-left: 400;
    margin-right: 200;
    padding: 0 20px;
}
.services div{
    padding: 0 20px;
    display: table-cell;
    width: 100%;
    box-sizing: inherit;
    padding-left: 20;
    padding: 20;
}
.service-1{
    margin: auto;

}
.service-3{
    background-color: #00ccb1;
    border-radius:  20px;
    height: 300px;
    flex-direction: column;
    padding: 2em 2em 0;

}
.service-5{
    background-color: #3d83df;
    border-radius: 20px;
    height: 300px;
    flex-direction: column;
    
}
.service-7{
    display: flex;
    background-color: #1b2734;
    border-radius: 20px;
    height: 300px;
    flex-direction: column;

}
h1 , h2{
    margin: 1em 0;
    font-family: work sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.second-section{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    margin: 2.5rem auto 3.125rem;
}
.second-section h1{
    float: left;
    width: 33%;
    font-size: 40;
    margin: .25em 0.35em;
    padding-right: 1em;
    color: #00ccb1;
}
.second-logo {
    display: inline;
    flex-wrap: wrap;
    margin: 40;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    list-style: none;


}
.second-logo li{
    font-size: 1rem;
    display: inline;
    width: 300px;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

}
.second-logo li:hover{
    background-color: indigo;
}
.item11{
    background-color: aquamarine;
    float: left;
    min-height: 1px;
    padding: 30px;
}
.item2{
    width: 50%;
    background-color: aquamarine;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: inherit;
    width: 100%;
}
.item9
{
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    height: 250;
    text-align: center;
    padding: 15px;
    font-size: .8125em;
    float: left;
    min-height: 1px;
    padding: 10px;
}
.item3{
    width: 50%;
    float: left;
    min-height: 1px;
    padding: 10px;
}
.item10{
    width: 100%;
}
.item1{
    margin-bottom: 100px;
    display: inline;
    width: 100%;
    float: left;
    justify-content: space-around;
}
header{
    margin-bottom: 5rem;
    padding: 50px;
}
.offices--header {
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
}

.offices--slider
.office {
    width: 33.33%;
    float: left;}
.button{
    background-color: rgb(127, 193, 255);
    border-radius: 10px;
}
h1 {
    font-size: 2.125rem;
    color: #00b39b;
}
.offices--header p{
    font-size: 40px;
}
button:hover{
    background-color: green;
}
.join h1{
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 30;
}
.main-footer{
    border-top:  1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
.main-footer a:hover{
    text-decoration: underline;
    color: blue;
}
.stats-container {
    background: linear-gradient(80deg,white,rgb(0,204,177));
    display: flex;
    height: 800px;
    padding: 4%;
    overflow: hidden;
}
.stats-box {
    height: 190px;
    background-color: white;
    border-radius: 7%;
    width: 45%;
    margin-right: 5%;
}
.stats-box-colomn-2 {
    display: flex;
    margin-top: 10%;
}
.stats-box-colomn-1 {
    display: flex;
}




@media only screen and (min-width:464px) and (max-width: 1000px)


